.header-container{
    background-color: rgb(42, 239, 239);
}
.link-container{
    display: flex;
    justify-content: space-evenly;
    margin-left: 25%;
    margin-right: 25%;
}
.link-container a{
    margin-left: 10px;
    border-bottom: 1px solid rgba(71, 71, 255, 0.619);
    padding: 2px;
    border-radius: 2px;
}
.link-container a:hover{
    color: rgba(255, 166, 0, 0.936);
    border-bottom: 1px solid tomato;
}